*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: $blue;
  &:hover {
  }
}
button{
    font-family: $font-family-sans-serif;
}

body {
  // position: relative;
  min-height: 100vh;
  font-family: $font-family-sans-serif;
//   background-color: #eaf0f6;
}

.main {
  position: relative;
  top: 4.3rem;
  min-height: 90vh;
  margin-bottom: 10rem;
}

@mixin easy-in-easy-out {
    transition: all 3000ms ease-in-out;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;

  .social-networks {
    list-style: none;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 1rem;
    // margin-top: 10rem;
    .link {
      padding: 1rem;
      color: #dfdfdf;

      font-size: 1.5rem;
      &:hover {
        color: #0288d1;
      }
    }
  }

  .copy-right{
    color: #dfdfdf;

}
}


@mixin media-md {

    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {

    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {

    @media screen and (min-width: 1600px) {
        @content;
    }
}
