


.footer {
  padding-top: 10rem;
  height: 10rem;
  background: #343a40;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: -1;
  bottom: 10rem;
}
