@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://use.fontawesome.com/releases/v5.11.2/css/all.css);*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.main {
  position: relative;
  top: 4.5rem;
  min-height: 90vh;
  margin-bottom: 10rem;
}

.header {
  display: flex;
  background: #fff;
  width: 100%;
  position: fixed;
  padding: 0.2rem 0.5rem;
  padding-bottom: 0;
  z-index: 999;
  border-bottom: 1px solid #efeff1;
}

.header ul {
  list-style: none;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header nav .navbar-brand {
  width: 7rem;
}

.header nav .menu-container .navbar-toggler {
  background: none;
  border: none;
  color: #8d3b7f;
  font-size: 1.5rem;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header nav .menu-container .navbar-toggler:hover {
  color: #000;
  transition: all 0.5s ease-in-out;
}

.header nav .menu-container .navbar-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  position: fixed;
  list-style: none;
  overflow: auto;
  right: 0;
  height: 100vh;
  width: 18rem;
  background-color: #fff;
  border-left: 1px solid #efeff1;
  border-radius: 5rem 0 0rem 0rem;
  transform: translateX(100%);
  transition: transform 0.262s ease-out;
}

.header nav .menu-container .navbar-nav-container.active {
  transform: translateX(0);
}

.header nav .menu-container .navbar-nav-container .toggler-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header nav .menu-container .navbar-nav-container .toggler-wrapper .navbar-toggler {
  padding: 1rem;
}

.header nav .menu-container .navbar-nav-container .toggler-wrapper .navbar-toggler:hover {
  padding-right: 0.5rem;
  color: #0288d1;
}

.header nav .menu-container .navbar-nav-container .nav-item {
  display: flex;
}

.header nav .menu-container .navbar-nav-container .nav-item .nav-link {
  padding: 1rem 5rem;
  padding-left: 2rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  color: #8d3b7f;
}

.header nav .menu-container .navbar-nav-container .nav-item .nav-link:hover {
  color: #0288d1;
  padding-left: 5rem;
}

.header nav .menu-container .social-networks {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.header nav .menu-container .social-networks .link {
  padding: 1rem;
  color: #000;
  font-size: 1.5rem;
}

.header nav .menu-container .social-networks .link:hover {
  color: #0288d1;
}

.header nav .menu-container.active {
  transform: translateX(0);
}

.home .masthead {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: url(/images/web.jpg?598f757416f501b4e1f00489d271c344) center;
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #fff;
}

.home .masthead .overlay {
  background-color: rgba(141, 58, 127, 0.23);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home .masthead .content {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.home .masthead .content .heading h1 {
  font-size: 3rem;
  color: #fff;
}

.home .masthead .content .heading p {
  font-size: 1.3rem;
}

.home .masthead .content .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .masthead .content .form .inputs {
  margin-top: 1rem;
}

.home .masthead .content .form .inputs .input {
  border: none;
  border-radius: 5rem;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
}

.home .masthead .content .form .btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.home .masthead .content .form .btns .btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5rem;
  background: #0088cc;
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid #fff;
  cursor: pointer;
}

.home .masthead .content .form .btns .btn:hover {
  background: #004466;
  border: 1px solid #000;
  color: #bbbbbb;
}

.home .features {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.home .features .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #f5f5f5;
  border: #e6e6e6 1px solid;
  border-radius: 0.25rem;
  color: #000;
  text-align: center;
  box-shadow: 1px 1px 2px #f5f5f5;
}

.home .features .feature .icon {
  display: flex;
  justify-content: center;
}

.home .features .feature .icon i {
  font-size: 5rem;
  color: #0088cc;
  padding: 2rem;
  transition: all 0.2s ease-in-out;
}

.home .features .feature h3 {
  font-size: 2rem;
}

.home .features .feature p {
  font-size: 1.3rem;
}

.home .features .feature:hover {
  background: #e7e7e7;
}

.home .features .feature:hover .icon i {
  color: #e3342f;
}

.home .latest-blogs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.home .latest-blogs h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home .latest-blogs .blog {
  margin-bottom: 1rem;
  border: 1px solid #eeeeee;
}

.home .latest-blogs .blog-body {
  padding: 1rem;
}

.home .latest-blogs .blog-body h3 {
  font-size: 1.5rem;
  color: #0088cc;
  font-weight: 500;
}

.home .latest-blogs .blog-footer {
  padding: 1rem;
}

.home .latest-blogs .blog-footer ul {
  list-style: none;
}

.footer {
  padding-top: 10rem;
  height: 10rem;
  background: #343a40;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: -1;
  bottom: 10rem;
}

