@import url(https://use.fontawesome.com/releases/v5.11.2/css/all.css);@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,800&display=swap);*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: #0088cc;
}

button {
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.main {
  position: relative;
  top: 4.3rem;
  min-height: 90vh;
  margin-bottom: 10rem;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer .social-networks {
  list-style: none;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.footer .social-networks .link {
  padding: 1rem;
  color: #dfdfdf;
  font-size: 1.5rem;
}

.footer .social-networks .link:hover {
  color: #0288d1;
}

.footer .copy-right {
  color: #dfdfdf;
}

.header {
  display: flex;
  background: #fff;
  width: 100%;
  position: fixed;
  padding: 0.2rem 0.5rem;
  padding-bottom: 0;
  z-index: 999;
  border-bottom: 1px solid #efeff1;
  box-shadow: 0 0px 3px 0 #0000001a;
}

.header ul {
  list-style: none;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
}

.header nav .navbar-brand {
  font-size: 1.125rem;
  line-height: inherit;
  white-space: nowrap;
  width: 7rem;
  display: inline-block;
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  line-height: inherit;
  white-space: nowrap;
}

.header nav .navbar-brand img {
  vertical-align: middle;
  border-style: none;
}

.header nav .menu-container .navbar-toggler {
  background: none;
  border: none;
  color: #565454;
  font-size: 1.5rem;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header nav .menu-container .navbar-toggler:hover {
  color: #000;
  transition: all 0.5s ease-in-out;
}

.header nav .menu-container .navbar-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  position: fixed;
  list-style: none;
  overflow: auto;
  right: 0;
  height: 100vh;
  width: 18rem;
  background-color: #fff;
  border-left: 1px solid #efeff1;
  border-radius: 5rem 0 0rem 0rem;
  transform: translateX(100%);
  transition: transform 0.262s ease-out;
}

.header nav .menu-container .navbar-nav-container.active {
  transform: translateX(0);
}

.header nav .menu-container .navbar-nav-container .toggler-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header nav .menu-container .navbar-nav-container .toggler-wrapper .navbar-toggler {
  padding: 1rem;
}

.header nav .menu-container .navbar-nav-container .toggler-wrapper .navbar-toggler:hover {
  padding-right: 0.5rem;
  color: #0288d1;
}

.header nav .menu-container .navbar-nav-container .nav-item {
  display: flex;
}

.header nav .menu-container .navbar-nav-container .nav-item .nav-link {
  padding: 1rem 5rem;
  padding-left: 2rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  color: #0088cc;
}

.header nav .menu-container .navbar-nav-container .nav-item .nav-link:hover {
  color: #f6993f;
  padding-left: 5rem;
}

.header nav .menu-container .social-networks {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.header nav .menu-container .social-networks .link {
  padding: 1rem;
  color: #000;
  font-size: 1.5rem;
}

.header nav .menu-container .social-networks .link:hover {
  color: #0288d1;
}

.header nav .menu-container.active {
  transform: translateX(0);
}

.home .masthead {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: url(/images/web.jpg?598f757416f501b4e1f00489d271c344) center;
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #fff;
}

.home .masthead .overlay {
  background-color: rgba(141, 58, 127, 0.23);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home .masthead .content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .masthead .content .heading h1 {
  font-size: 2.5rem;
  color: #fff;
}

.home .masthead .content .heading p {
  font-size: 1.3rem;
}

.home .masthead .content .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #7474744d;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  text-align: center;
  max-width: 30rem;
  margin: auto;
  margin-top: 1rem;
  align-self: center;
}

.home .masthead .content .form .inputs {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.home .masthead .content .form .inputs .input {
  border: none;
  border-radius: 5rem;
  padding: 0.8rem 1rem;
  width: 100%;
  font-size: 1rem;
  max-width: 25rem;
}

.home .masthead .content .form .btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.home .masthead .content .form .btns .btn {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5rem;
  background: #0088cc;
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.home .masthead .content .form .btns .btn:hover {
  background: #004466;
  border: 1px solid #000;
  color: #bbbbbb;
}

.home .features {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.home .features .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #f5f5f5;
  border: #e6e6e6 1px solid;
  border-radius: 0.25rem;
  color: #000;
  text-align: center;
  box-shadow: 1px 1px 2px #f5f5f5;
}

.home .features .feature .icon {
  display: flex;
  justify-content: center;
}

.home .features .feature .icon i {
  font-size: 5rem;
  color: #0088cc;
  padding: 2rem;
  transition: all 0.2s ease-in-out;
}

.home .features .feature h3 {
  font-size: 2rem;
}

.home .features .feature p {
  font-size: 1.3rem;
}

.home .features .feature:hover {
  background: #c5c5c5;
}

.home .features .feature:hover .icon i {
  color: #e3342f;
}

.home .latest-blogs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.home .latest-blogs h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home .latest-blogs .blog {
  border-radius: 0.5rem;
  background: #f7f7f7;
  margin-bottom: 1rem;
  border: 1px solid #e2e2e2;
  overflow: hidden;
}

.home .latest-blogs .blog-header {
  height: 13rem;
  overflow: hidden;
}

.home .latest-blogs .blog-header img {
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 0.5s ease-in-out;
}

.home .latest-blogs .blog-header img:hover {
  transform: scale(1.2);
}

.home .latest-blogs .blog-body {
  padding: 1rem;
}

.home .latest-blogs .blog-body a h3 {
  font-size: 1.5rem;
  color: #0088cc;
  transition: all 0.2s ease-in-out;
}

.home .latest-blogs .blog-body a h3:hover {
  color: #e3342f;
}

.home .latest-blogs .blog-footer {
  padding: 1rem;
}

.home .latest-blogs .blog-footer ul {
  list-style: none;
}

.home .latest-blogs .more-blog-btn {
  margin: auto;
  background: #e3342f;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  max-width: 18rem;
  border-radius: 5rem;
}

.home .latest-blogs .more-blog-btn:hover {
  background: #0088cc;
}

.blogs-page .masthead {
  background: url(/images/wood.jpg?a712757eec696a5f983947411329006a);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 35vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.blogs-page .masthead .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.blogs-page .masthead .content {
  z-index: 3;
  color: #e4e4e4;
}

.blogs-page .blogs {
  padding: 1rem;
}

.blogs-page .blogs h2 {
  margin-bottom: 1rem;
}

.blogs-page .blogs .blog {
  background: #f7f7f7;
  margin-bottom: 2em;
  color: #33475b;
  border-radius: 0.25rem;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.blogs-page .blogs .blog-header {
  height: 13rem;
  overflow: hidden;
}

.blogs-page .blogs .blog-header img {
  border-radius: 0.5rem 0.5rem 0 0;
  transition: transform 0.5s ease-in-out;
}

.blogs-page .blogs .blog-header img:hover {
  transform: scale(1.2);
}

.blogs-page .blogs .blog-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.blogs-page .blogs .blog-body a h3 {
  color: #0088cc;
  transition: all 0.2s ease-in-out;
}

.blogs-page .blogs .blog-body a h3:hover {
  color: #e3342f;
}

.blogs-page .blogs .blog-body .date-container {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #747474;
}

.blogs-page .blogs .blog-footer {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.blogs-page .blogs .blog-footer .tags {
  display: flex;
  align-items: center;
  flex: 1;
}

.blogs-page .blogs .blog-footer .tags ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.blogs-page .blogs .blog-footer .tags ul li {
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: 0.25rem;
  background: #e0e0e0;
}

.blogs-page .blogs .blog-footer .tags ul li:hover * {
  color: #e3342f;
}

.blogs-page .pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.blogs-page .pagination li {
  padding: 0.5rem 1rem;
  color: #e4e4e4;
}

.blogs-page .pagination li a {
  color: #a3a2a2;
}

.blogs-page .pagination li a:hover {
  color: #0088cc;
}

.blogs-page .pagination li.active {
  background: #0088cc;
  border-radius: 0.25rem;
}

.blogs-page .pagination li.active * {
  color: #fff;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #e3342f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.single-blog {
  background: #e3342f;
  background: #f1f6ff;
  flex-direction: column;
  padding-bottom: 1rem;
}

.single-blog-heading {
  text-align: center;
  padding: 3rem 1rem;
  background: #fff;
}

.single-blog-body {
  display: flex;
  flex-direction: column;
}

.single-blog-body .body-container {
  margin: 0 1rem;
  margin: 1rem;
  background: #fff;
}

.single-blog-body .body-container .img-container {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.single-blog-body .body-container .img-container img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.single-blog-body .body-container .content {
  padding: 1rem;
}

.single-blog .comments {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
}

.single-blog .comments .title {
  margin-bottom: 1rem;
}

.single-blog .comments .comment-group {
  display: flex;
  flex-direction: column;
}

.single-blog .comments .comment-group .user-info {
  display: flex;
  align-items: center;
}

.single-blog .comments .comment-group .user-info .img-container {
  margin-right: 0.5rem;
}

.single-blog .comments .comment-group .user-info .img-container img {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  border: 3px solid #d1d1d1;
}

.single-blog .comments .comment-group .user-info .user-detail .user-name {
  font-weight: bold;
}

.single-blog .comments .comment-group .user-info .user-detail small {
  color: #929292;
}

.single-blog .comments .comment-group .comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.single-blog .comments .comment-group .comment-body {
  padding: 1rem;
}

.single-blog .comments .comment-group .comment .btns {
  display: flex;
}

.single-blog .comments .comment-group .comment .btns ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.single-blog .comments .comment-group .comment .btns ul .no-of-likes {
  font-style: italic;
}

.single-blog .comments .comment-group .comment .btns ul li button {
  color: #9c9c9c;
  font-size: 0.8rem;
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.single-blog .comments .comment-group .comment .btns ul li button:hover {
  color: #0088cc;
}

.single-blog .comments .comment-group .comment .comment-replies {
  margin-top: 1rem;
  padding-left: 2rem;
}

.single-blog .comment-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
}

.single-blog .comment-form .title {
  margin-bottom: 1rem;
  text-align: center;
}

.single-blog .comment-form .form-container .form {
  display: flex;
  flex-direction: column;
}

.single-blog .comment-form .form-container .form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.single-blog .comment-form .form-container .form .inputs label {
  margin-bottom: 0.5rem;
  color: #929292;
}

.single-blog .comment-form .form-container .form .inputs input,
.single-blog .comment-form .form-container .form .inputs textarea {
  padding: 0.8rem;
  color: #929292;
  border: 1px solid #d4d4d4;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.single-blog .comment-form .form-container .form .btns {
  display: flex;
  justify-content: center;
  width: 100%;
}

.single-blog .comment-form .form-container .form .btns button {
  border: none;
  padding: 0.8rem;
  background-color: #0088cc;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 5rem;
}

.login-page {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.login-page .body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 30rem;
}

.login-page .body .login-form {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  padding: 2rem 1rem;
  box-shadow: 0 6px 20px -15px rgba(173, 32, 32, 0.2);
}

.login-page .body h1 {
  margin-bottom: 1rem;
}

.login-page .body .form {
  display: flex;
  flex-direction: column;
}

.login-page .body .form .input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.login-page .body .form .input-container label {
  flex: 1;
  padding: 1rem;
  display: none;
}

.login-page .body .form .input-container .icon-input-group {
  display: flex;
  align-items: center;
  background: #fff;
  color: #000;
  padding-left: 1rem;
  border: 2px solid #E6E7EC;
  border-radius: 5rem;
}

.login-page .body .form .input-container .icon-input-group .input-field {
  padding: 0.8rem 1rem;
  border-radius: 5rem;
  border: none;
  font-size: 1rem;
  outline: none;
  background: transparent;
  width: 100%;
}

.login-page .body .form .input-container .icon-input-group i {
  flex: 1;
  padding: 1rem;
}

.login-page .body .form .input-container .icon-input-group:focus-within {
  box-shadow: inset 0px 0px 1px 2px #5a5a5a;
}

.login-page .body .form .input-container .icon-input-group:focus-within i {
  color: #5a5a5a;
}

.login-page .body .form .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page .body .form .btn-container button {
  border: none;
  background: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.login-page .body .form .btn-container .login-btn {
  padding: 0.8rem 5rem;
  background-color: #e3342f;
  border-radius: 5rem;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.4rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.login-page .body .form .btn-container .login-btn:hover {
  background-color: #0088cc;
}

.under-construction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background: url(/images/under-construction.jpg?08c4de8e75a07bdf49bd15b787405e4e) center;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0.4rem;
}

.under-construction .overlay {
  background-color: rgba(0, 0, 0, 0.43);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.under-construction .content {
  z-index: 3;
  padding: 3rem 1rem;
  border-radius: 1rem;
}

.under-construction .content img {
  max-width: 30rem;
}

.under-construction .content i {
  font-size: 5rem;
  color: #ffd000;
  margin-bottom: 0.5rem;
}

.under-construction .content h1 {
  font-size: 2rem;
  color: #ffd000;
  text-transform: uppercase;
}

.under-construction .content p {
  color: #fae06d;
  font-size: 1.1rem;
}

.under-construction .content h2 {
  text-shadow: 1px 1px 1px #000;
}

.footer {
  padding-top: 10rem;
  height: 10rem;
  background: #343a40;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: -1;
  bottom: 10rem;
}

